.table-wrapper{
    width: 100%;
}
.table{
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    white-space: inherit;
    width: 100em;
    max-width: 80%;
    margin: auto;
    overflow-x: auto;
}
.table thead{
    background-color: #ccc;
    color: black;

}
.table th,
.table td{
    padding: 0.8rem;
}
.table td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table tbody tr:hover{
    background-color: #ccc;

}
.expand{
    width: 50%;
    text-align: center;
}
.label {
    border-radius: 3px;
    padding: 0.2rem;
    color: white;
}
.label-completed{
    background-color: green;

}

.label-not-completed{
    background-color: red;
}

.action{
    display: flex;
    justify-content: space-around;
}